@media (min-width: 2350px) {
  .text__left-title {
    font-size: 16rem;
  }
}
 @media (max-width: 1850px) {
  .index::before {
    background-position: 88% 100%;
  }

  .contact__left{
    flex-basis: 60%;
  }

  .text-right-download-cv-container{
    width: auto;
  }

  .buycoffe-button-text{
    font-size: 1.8rem;
  }

  .contact__container{
    width: 80%;
    gap: 0;
  }

  .index{
    padding-top: 7rem;
  }

}

@media(max-width:1800px){
  .index,
  .works__container{
    min-width: 85%;
  }

  .index__text{
    width: 44%;
  }

  .contact__container{
    gap: 10rem;
  }
}

@media(max-width:1550px){
  .text__right{margin-left: -5rem;}

  .index::before{
    background-position: 95% 100%;
    background-size: 37.5%;
  }

  .index {
    width: 90%;
    /* height: 90rem; */

    padding-top: 5rem;
  }

  .text__left-title {
    font-size: 10rem;
    padding-top: 9rem;
  }

  

  .item__right-image {
    width: 400px;
  }

  .work__item {
    gap: 2rem;
  }

  .works__title-text {
    left: 20rem;
  }

  .contact {
    margin: 0 auto;
    width: 90%;

  }
  .contact__title-text{
    left: 10rem;
  }



  .contact__left {
    padding-left: 0rem;
  }

  a.contact__left-link {
    font-size: 2.5em;
  }

  .contact__right {
    padding-right: 0rem;
  }

  .contact__right-form-box {
    margin-right: 0rem;
  }

  .text-right-download-cv-container {
    width: 90%;
  }

  .text__right{
    flex-basis: 100%;
  }

}

@media(max-width:1400px){

  
  .index{
    width: 95%;
  }
  
  .text__right{
    margin-top: 13rem;
  }
  
  .contact__container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 33rem;
  }

  .accent-text{
    font-size: 7rem;
  }

  .item__right-image{
    max-width: 16rerm;
    min-width: 16rem;
  }

  .works__container{
    width: 95%;
    gap: 3rem;
  }

  .menu_box{
    margin: 0 auto;
    width: 90%;
  }

 


}

@media(max-width:1250px) {
  .index{
    height: 90%;
  }

  .text__right{
    margin-top: 10rem;
  }


  .contact__container{
    width: 70%;
  }

  .text-right__download-cv-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 5rem;


  }


  .text-right-title{
    width: 60rem;
  }

  .text-right-title{
    font-size: 5.5rem;
  }

  .text-right-subtitle{
    padding-top: 1rem;
  }

}

@media(max-width:1150px){

  .text-right-title{
    width: 60rem;
    font-size: 5rem;
  }

  .text-right-subtitle{
    font-size: 2.25rem;
    padding-top: 2rem;
  }

  .works__title-container{
    padding-left: 10rem;
  }

  .contact__title-text{
    padding-left: 3rem;
  }

  .index{
    padding-top: 2rem;
  }

  .text__right-header{
    left: -5rem;
  }

  .contact__title-text{
    padding-left: 0rem;
    margin-left: -2rem;
  }

}

@media(max-width:1050px){


  .index{
    height: 70rem;
    /* max-height: 70vh; */
  }

  .index__text{
    margin-left: 6.5rem;
  }

  .text__right-header{
    left: 1.5rem;
    top: 0rem;
  }
  .text__right{
    margin-top: 4rem;
    margin-left: 2rem;
  }

  .text-right__download-cv-container{
    width: 75%;
  }

  .text-right-title{

    font-size: 3.5rem;
  }

  .index::before{
    background-position: 100% 100%
  }

  .text-right-subtitle{
    font-size: 1.9rem;
  }

  .works__container{
    width: 100%;
    min-width: auto;
    justify-content: space-evenly;
  }

  .box__menu-responsive{
    width:  100%;
  }
  

}


@media(max-width:950px){

  .index__text{
    margin-left: 0rem;
  }

  .works__container{
    justify-content: center;
  }

  .item__left-title{
    font-size: 2rem;
  }

  .work__item-link-container{margin-top: 1.5rem;
  }

  .technologies__item{
    padding:.5rem .5rem;
  }

}


@media(max-width:850px){


  .download-cv-container__downlod-button,
  .download-cv-container__buycoffe-button{
    padding: 2.6rem 2rem;
  }
  
.text-right-download-cv-container-text{
     font-size: 1.5rem;

  }

  .works__container{
    justify-content: center;
    gap: 1.5rem;
  }

  .work__item{
    width: calc(50% - 5rem);
    min-width: calc(50% - 5rem);
  }

  .type-container__list{
    margin-bottom: 2rem;
    margin-top: 2rem;
  }


  .text__right-header,
  .works__title-text,
  .contact__title-text{
    font-size: 2rem;
  }

  .contact__left-title,
  .contact__right-title{
    font-size: 3rem;
  }

  .contact__left-subtitle{
  width: 80%;
    font-size: 1.75rem;
    text-align: left;
  }
  
a.contact__left-link{
  font-size: 2.25rem;
  margin-top: 3rem;
}

}


@media(max-width:770px){

  .work__item{
    flex-basis: 60%;
    min-height: 28rem;
  }

  .work__item-left{

    justify-content: start;
  }


}

@media(max-width:720px){

  .text-right__download-cv-container{
    width: 80%;
    justify-content: center;
  }

  .text-right-title{
    width: 88vw;
    /* height: 13rem;
    max-height: 13rem; */
    font-size: 4.5rem;
    /* overflow: hidden; */
  }

  .index__text{
    width: 52%;
    height: 95%;
  }

  .text__right{
    justify-content: center;
  }

  .text-right-subtitle{
    width: 50rem;
  }
 

  .index{
    height: 150rem;
    max-height: 85rem;
  }
}


@media(max-width:695px){

  .index{
    max-height: 80rem;
  }
  .works__container{
    gap: 4rem;
  }

  .work__item{
    flex-basis: 80%;
    min-height: 27rem;
  }

  .item__right-image{
    width: auto;
    max-width: auto;
  }

  .contact__container{
  width: 90%;

  }
   

}


@media(max-width:575px){

  .index{
    max-height: 75rem;
  }

  .index__technologies-item{
    flex-basis: 4rem;
  }

  .text-right__download-cv-container{
    width: 100%;
  }


  .text__right{
    margin-top: 0rem;
  }

  .text-right-title{
    text-align: center;
    margin-top: 3rem;
    font-size: 4.5rem;
  }

  .text__right-header{
    margin-bottom: 4rem;
  }

  .works__title-container{
    padding-left: 5rem;
  }

  .contact__title-text{
    left: 5rem;
  }

}

@media(max-width:555px){

  .index{
    max-height:  80rem;
    min-height: 80rem;
  }

  .index__tecnologies{
    grid-area: 1.5rem;
  }

  .text-right-title{
    font-size: 4.25rem;
  }


  .text-right-subtitle{
    width: 88vw;
  }

  .text-right__download-cv-container{
    justify-content: center;
  }

  a.contact__left-link{
    
  font-size: 1.9rem;
  }

  .index__tecnologies{
    grid-area: 1.75rem;
  }

  img.right-arrow{
    display: none;
  }


}

@media (max-width:450px) {

  .type-container__list{
    gap: 0rem;
  }

  .work__item{
    flex-basis: 95%;
  }
  
  .contact__left-subtitle{
    font-size: 1.5rem;
  }

  .index__technologies-item{
    flex-basis: 4rem;
  }

  .text__right{
    margin-left: 0rem;
  }

  .text-right-title{
    margin-top: 0rem;
  }


  .work__item-right{
    justify-content: left;
  }

  
}

@media(max-width:400px){
  .index{
    min-height: 67rem;
    max-height: 67rem;
  }

  .text-right__download-cv-container{
    justify-content: start;
  }

  .form__button{
    font-size: 2rem;
  border-radius: 1rem;
  }

  .text-right-title{
    font-size: 3rem;
    margin-top: 0rem;
  }

  .text-right-subtitle {
        text-align: center;
        font-size: 1.6rem;
    }
  }
  
  
  @media(max-width:375px){

       .index {
        min-height: 63rem;
        max-height: 63rem;
    }
    
    .text-right-title {
          font-size: 2.7rem;
          margin-top: -2rem;
      }


      .accent-text {
        font-size: 5rem;
    }

    .index::before{
      background-size: 45%;
    }

    .text-right__download-cv-container{
              width: 80%;
    }


        .buycoffe-button-text,
        .text-right-download-cv-container-text{

        font-size: 1.2rem;
    }

    .buycoffe-img, .download-button-img {
    width: 1.5rem;
    height: 1.5rem;
}

    .contact__left-title, .contact__right-title {
        font-size: 2.3rem;
    }


        .text-right-title {
        max-height: 18.8rem;
        font-size: 2.7rem;
        margin-top: -2rem;
        line-height: 4.4rem;
    }


    .work__item{

      padding: 3rem 1rem;
    }

    .list__item-text{
      font-size: 1.35rem;
    }

        a.contact__left-link {
        font-size: 1.5rem;
    }


  }



  @media(max-width:320px){

    .work__item{
      flex-direction: column;
    }

    .work__item-left{
      order: 1;
      text-align: center;
    }

        .text__right-header, .works__title-text, .contact__title-text {
        font-size: 1.4rem;
    }

    .item__right-image{
      max-width: 25rem;
      min-height: 25.5rem;
    }

  }