@media (min-width: 2350px) {
  .text__left-title {
    font-size: 16rem;
  }
}
@media (max-width: 1850px) {
  .index {
    background-size: 35%;
  }

  .text__left-title {
    font-size: 13rem;
    padding-top: 14rem;
  }

  .contact__left-subtitle,
  .item__left-subtitle,
  .item__left-link {
    width: 95%;
  }
}

@media (max-width: 1700px) {
  .text__left-title {
    font-size: 11rem;
    padding-top: 14rem;
  }
}

@media (max-width: 1440px) {
  .index {
    width: 90%;
    height: 85vh;

    padding-top: 5rem;
  }

  .text__left-title {
    font-size: 10rem;
    padding-top: 9rem;
  }
 
  .text__right {
    flex-basis: 26%;
  }

  .item__right-image {
    width: 400px;
  }

  .work__item {
    gap: 5rem;
  }

  .contact {
    margin: 0 auto;
    /* height: 100vh; */
    width: 60%;
    padding-top: 20rem;
    padding-bottom: 15rem;
  }

  .contact__left {
    padding-left: 0rem;
  }

  .contact__right {
    padding-right: 0rem;
  }

  .contact__right-form-box {
    margin-right: 0rem;
  }
}

@media (max-width: 1350px) {
  .menu__box-left {
    flex-basis: 50%;
  }
  .text__left-title {
    font-size: 9rem;
    line-height: 12rem;
  }

  .text-right-title {
    padding-bottom: 2rem;
  }

  .index {
    margin-top: 0rem;
  }

  .index::before {
    background-size: 45%;
  }

  .contact {
    width: 80%;
    height: 100vh;

    display: flex;
        flex-direction: column; 
    justify-content: center;
    align-items: baseline;

    padding-bottom: 12rem;
    padding-top: 12rem;
  }
} 


 @media (max-width: 1150px) {
  .item__right-image {
    width: 350px;
  }
}
@media (max-width: 1100px) {
  .menu__box-left-text {
    font-size: 1.7rem;
  }
}
@media (max-width: 1024px) {
  .menu__box-resposive {
    display: block;
  }

  .index {
    /* height: 80vh; */
    padding-top: 3rem;
  }

  .index {
    background-repeat: no-repeat;
    height: 100dvh;
  }

  .index::before {
    background-position: 100% 100%;
    background-size: 50%;
  }

  .index__text {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
  }

  .index__text > div {
    width: 40%;
  }
  .index__text > div:first-child {
    width: 60%;
  }

  .index__social-container {
    padding-top: 3rem;
    order: 2;
  }

  .text__left-title {
    padding-top: 0rem;
    font-size: 6rem;
  }
  .text__left {
    order: 0;
  }

  .text__right {
    order: 1;
  }

  .text-right-title {
    padding-top: 3rem;
  }

  .menu__link {
    font-size: 3rem;
  }

  .menu__box-right {
    display: none;
  }

  .menu__box-left-languaje-box {
    margin-top: none;
  }

  .box__manu-responsive {
    width: 45vw;
  }

  .menu__box-resposive {
    display: flex;
    position: relative;
    /* right: 8rem;
    bottom: 1rem; */
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .menu__box-responsive-image-link {
    width: 6rem;
    height: 6rem;
  }
  .menu__box-left {
    flex-basis: 100%;
  }

  .item__left-link {
    padding-top: 5rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__left {
    display: none;
  }

  .contact__right {
    width: 100%;
  }

  .technologies__item {
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.45rem;
}



  
}

/* @media (max-width: 970px) {
  .text__left-title {
    font-size: 5.5rem;
  }

  .item__right-image {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .text__left-title {
    font-size: 5rem;
  }

  .text-right-title {
    font-size: 2.2rem;
  }
}
@media (max-width: 850px) {
  .index__text > div:first-child {
    width: 80%;
  }
} */

@media (max-width: 768px) {
  .box__menu-responsive {
    width: 60vw;
  }
  .text__left-title {
    padding-top: 0rem;
  }

  .index__text > div:first-child {
    width: 100%;
    text-align: center;
  }

  .text-right-title {
    font-size: 3rem;
  }

  .index__text > div {
    width: 60%;
  }

  .item__left-link {
    padding-top: 8rem;
    font-size: 3rem;
  }

  .index::before {
    background-size: 42%;
  }

  .contact__left-subtitle, .item__left-subtitle, .item__left-link {
    font-size: 2rem;
}

  .index__social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .item__left-link {
    padding-top: 4rem;
    font-size: 2rem;
  }

  .right-arrow {
    width: 2rem;
    height: 2rem;
  }

  .item__right-image {
    width: 245px;
  }

  a.item__left-link.proyect-link.proyect-link-right {
    margin-top: 2rem;
  }

  .work__item {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .technologies{
    width: 100%;
  }

  .form__button{
    font-size: 2rem;
    font-weight: bold;
    font-family: "Monserrat";
  }



}

@media (max-width: 425px) {
  .loader {
    font-size: 6rem;
  }

  .box__menu-responsive{
    width: 100vw;
  }

  .menu__link {
    font-size: 4rem;
  }

    .social-container__item, .link__image, .index__conatiner-item {
      width: 3rem;
      height: 3rem;
  }

  .text__left-title {
    font-size: 6rem;
    line-height: 9rem;
  }

  .index::before {
    background-size: 50%;
  }

  .text-right-title {
    padding-top: 16rem;
    font-size: 2.25rem;
  }

  .text-right-subtitle{
    font-size: 1.75rem;
  }

  .item__left-link {
    padding-top: 4rem;
    font-size: 2rem;
  }

  .right-arrow {
    margin-top: 0.4rem;
    width: 2rem;
    height: 2rem;
  }

  .work__item {
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .item__left-title {
    text-align: center;
  }

  .item__left-subtitle {
    width: 95%;
    text-align: center;
  }

  .technologies {
    margin-left: 0rem;
    margin: 0 auto;
    width: 90%;
  }

  .proyect-link {
    margin: 0 auto;
    margin-left: 10dvw;
  }

  .work__item-right {
    order: 2;
  }

  .work__item-left {
    order: 1;
  }

  a.item__left-link.proyect-link.proyect-link-right {
    margin-top: 4rem;
  }

  .work__item-left{
  order: 3;
}

span.item__left-link-text {
    padding: 1rem 1rem;
}

 

  .text-right-title {
    padding-top: 4rem;
  }

  .footer__text {
    text-align: center;
    color: var(--color-background-1);
    font-weight: bold;
    font-size: 1.7rem;
}



}


@media (max-width: 375px) {
  .loader {
    font-size: 5rem;
  }

  .menu__box-left-text {
    font-size: 1.25rem;
  }

  .menu__box-left-text {
    padding: 0.5rem 1rem;
  }

  .text__left-title {
    font-size: 5rem;
  }

  .text-right-title {
    padding-top: 8rem;
  }

  .index__text > div {
    width: 100%;
  }

  /* .proyect-link {
    padding-top: 33rem;
  } */
}

@media (max-width: 320px) {
  .loader {
    font-size: 4rem;
  }

  .menu__box-left-text {
    padding: 0.5rem 0.75rem;
  }

  .menu__box-left-text {
    font-size: 1rem;
  }

  .index__text > div {
    width: 100%;
  }

  .item__left-link {
    padding-top: 8rem;
  }

  .text__left-title {
    line-height: 8rem;
  }

  .text-right-title {
    padding-top: 4rem;
  }

  a.item__left-link.proyect-link {
    padding-top: 36rem;
  }
}

