:root{

    --color-background-1 : #343547;
    --color-background-2 : #252734;

    --color-secondary: #FFC05A;

    --color-text : #EBEBE9;
    --color-text-secondary: #989AA9;


}

/*FUENTE MONSERRAT*/
@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;

}

/* * {
  outline: 1px solid rgba(255,0,0,0.2); 
} */

/*ESTILOS GENERALES DE LA WEB*/
*{
    margin: 0;
    padding: 0px;

    box-sizing: border-box;
    
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}

body{
    background-color: var(--color-background-1);

        /*mirar overflox formulario*/  
        overflow: hidden !important;


        font-family: 'Monserrat';        
}



/*ANIMACIONES*/

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.fade-in-loader{
    opacity: 0;
    transform: translateY(20px);
    /* animation: fadeInUp 0.1s ease-out forwards; */

}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*ESTILOS DEL CUADRO DE CAMBIO DE IDIOMA*/

.menu__box-left-languaje-box{
    
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    align-items: center;

    border: 0.2rem solid var(--color-text);

    border-radius: 1rem;

    background-color: var(--color-text-secondary);
    margin-left: 1rem;

    height: 4rem;

    margin-top: 1.5rem;
}

img.languaje-box-img {
    cursor: pointer;
   
    opacity: 0.4;
    width: 3rem;
    height: 3rem;

    transition: all 250ms ease-in-out;
}

/* img.languaje-box-img:nth-child(2){
    opacity: 0.3;
} */

img.selected-lang{
    opacity: 1;

    transition: all 250ms ease-in-out;
}



/*CONTACT*/
.contact{
    width: 100vw;
    height: auto;

    display: flex;
    padding-top: 30rem;
    padding-bottom: 20rem;

}

.contact__left{
    
    display: flex;
    flex-direction: column;

    flex-basis: 50%;
    padding-left: 25rem;
    
}

.contact__left-title,
.contact__right-title,
.item__left-title{
    color: var(--color-text);
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 5rem;

}

.contact__left-subtitle,
.item__left-subtitle,
.item__left-link{

    color: var(--color-text-secondary);
    font-size: 2.25rem;
}

.contact__left-link,
.item__left-link{
    font-size: 3rem;
    color: var(--color-secondary);
    margin-top: 12rem;
    font-weight: bold;
}

span.proyect-link{
        padding: 1rem 2.7rem;
}

.proyect-link{
    border-radius: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-background-1);
    
    border: 3px solid var(--color-text);
    padding: 1rem;
    transition: all 300ms ease-in-out;
}
.proyect-link:hover span{
    background-color: var(--color-background-1);
    transition: all 300ms ease-in;
}

.item__left-link:hover .proyect-link {
    background-color: var(--color-background-1);
    color: var(--color-text);
    border-color: var(--color-secondary);
}


.item__left-link:hover img,
.form__button:hover img
{
    box-sizing: content-box;
    transform: translateX(8rem);
    transition: transform 0.3s ease;
}
.item__left-link img{
    box-sizing: content-box;
    transition: transform 0.3s ease;
}

span.item__left-link-text{
        padding: 1rem 2.7rem;
}

.item__left-link-text{
    margin-left: 1rem;
    
    border-radius: 1rem;
    background-color: var(--color-background-2);
    color: var(--color-text);
    
    border: 2px solid var(--color-secondary);
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.item__left-link-text:hover{

background-color: #FFC05A;
color: var(--color-background-1);
border-color: var(--color-text);



    transition: all 300ms ease-in-out;
}


.right-arrow{
    width: 3rem;
    height: 3rem;

    position: absolute;
    margin-left: 3rem;
    line-height: 1rem;
}

.contact__right{
    display: flex;
    flex-direction: column;
    
    flex-basis: 50%;
    justify-content: right;
    padding-right: 25rem;

}

img.right-arrow{
      filter: brightness(0) saturate(100%) invert(74%) sepia(41%) saturate(843%) hue-rotate(347deg) brightness(101%) contrast(101%);

}

.contact__right-form-box{
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.form__input,
.form__textarea{
    /*RESETEAMOS TODAS LAS VARIABLES INTERNAS DEDL INPUR*/
    all: unset;

    height: 10rem;
    background-color: var(--color-background-1);
    border-bottom: 0.1rem solid var(--color-text-secondary);

    box-shadow: none;
    text-shadow: none;

    color: var(--color-text);

    font-size: 2rem;
    font-weight: bold;
}

.form__textarea{
    padding-top: 2rem;
}

.form__input:focus,
.form__textarea:focus{
    cursor: none;
    background-color: var(--color-background-1);
    padding-top: 3rem;
}

.form__input::placeholder,
.form__textarea::placeholder{
    color: var(--color-text);
    padding-top: 3rem;
}
.form__button span {
    padding: 1rem 2.7rem;
}

.form__button{
    width: auto;
    height: auto;

    text-decoration: none;
    margin: 0 auto;
    margin-top: 2.5rem;

       border-radius: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-background-1);
    border: 3px solid var(--color-text);
    padding: 1rem;
    transition: all 300ms ease-in-out;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 2rem;
    

    transition: all 300ms ease-in-out;
}

.form__button:hover{
    background-color: var(--color-background-1);
    border-color: var(--color-secondary);
    color: var(--color-text);
}



/*WORKS*/
.works{
    width: 100%;
    margin: 0 auto;
    
    background-color: var(--color-background-2);
    padding-bottom: 15rem;


}



.work__item{

    width: 80%;
    margin: 0 auto;


    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    padding-top: 15rem;
    padding-bottom: 12rem;


    background: linear-gradient(360deg,rgba(52, 53, 71, 0.89) 0%, rgba(37, 39, 52, 1) 50%);
    border-radius: 5rem;
}

.work__item-left{
    flex-basis: calc(40%);
    
}



.work__item-right{
    flex-basis: calc(40%);
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: right;

}

.item__right-image{
    width: 50rem;
    margin: 0 auto;
    border-radius: 1rem;
    float: left;
    /* position: relative; */

    opacity: 0.9;

}


.item__left-link{
    position: absolute;
    padding-top:8rem;
}



/*TECHONOLOGIES*/
.technologies{

    width: 80%;

    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}


.technologies__item{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.75rem;

    border: 0.1rem solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-background-1);

    transition: all 100ms ease-in-out;
}

.technologies__item:hover{
    background-color: var(--color-text-secondary);
    color: var(--color-background-2);

    transition: all 300ms ease-in-out;
}





/*FOOTER*/


.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* position: absolute;
    bottom: 0; */
    padding-bottom: 5rem;

    background-color: var(--color-secondary);

    

    /* border-top: 10px solid var(--color-background-2); */
}

.footer__text{
    text-align: center;
    color: var(--color-background-1);
    font-weight: bold;

    font-size:2.5rem;
    padding: 5rem 0rem;
}

.footer__social-container,
.index__social-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.social-container__item{
    
    transition: all 300ms ease-in-out;
}

.social-container__item:hover{
   scale: 1.25;
  
   transition:  all 300ms ease-in-out;

}

.social-container__item,
.index-container__item{
    margin-left: 3rem;
}

.social-container__item, .link__image, .index__conatiner-item{
    width: 4rem;
    height: 4rem;

}



.footer__subtitle-text{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* bottom: -3rem; */
    /* margin: 0 auto; */
    text-align: center;
    padding-top: 1rem;


    color: var(--color-background-1);
    

}

/*INDEX*/
.index{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;

    
    
    padding-top: 10rem;
    
    
}

.index::before{
    content: "";
    position: absolute;
    inset: 0;
    
    background-image: url(/img/me.png);
    /* background-size: contain; */
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    z-index: -100;

      filter:  opacity(1); /* aquí tus filtros */

}

.menu__box{
    width: 100%;
    height: auto;
    font-weight: normal;
     
    
    /* border-bottom: 0.1rem solid var(--color-text-secondary); */

    display: flex;
    flex-direction: row;


    /* justify-content: space-between; */
}

.menu__box-left{
    display: flex;
    flex-direction: row;

    flex-basis: 35%;
    height: auto;

    margin-top: 1rem;

    transition: all 200ms ease-in-out;

}

.menu__box-left-text{

    transition: all 300ms ease-in-out;
}
.menu__box-left-text:hover{
    background-color: var(--color-secondary);
    border: 0.2rem solid var(--color-text-secondary);
    color: var(--color-background-2);

    transition: all 300ms ease-in-out;
}

.menu__box-right{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-basis: auto; */
    flex-direction: row;
    justify-content: flex-end;
    
    visibility: hidden;
}

.menu__link {
    position: relative;
    padding-left: 3rem;
    font-size: 3.15rem;
    line-height: 8rem;
    
    color: var(--color-text);
    text-decoration: none;

    opacity: 0.5;

    transition: all 300ms ease-in-out;
    
}

.menu__link:hover{
    opacity: 1;
    transition:  all 300 ms ease-in-out;
}

.selected{
    opacity: 1;
}

.selected::after {
  content: "";
  position: absolute;
  bottom: 1.25rem; /* ajusta la distancia debajo del texto */
  left: 7.5rem;
  transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
  background-color: var( --color-secondary); /* cambia el color del punto */

  border-radius: 50%;
  transition: all 0.3s ease;
}






.menu__box-left-text{
    color: var(--color-text);
    
    line-height: 5rem;
    
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border: 0.2rem solid var(--color-secondary);
    border-radius: 3rem;

    padding: 1rem 1.5rem;

    box-shadow:0rem 0rem 5rem var(--color-text-secondary);

    text-decoration: none;

}

.index__text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-container__item {
    filter: invert(1);

    transition: all 300ms ease-in-out;
}
.index-container__item:hover {
    transform: scale(1.15);
    transition: all 300ms ease;
}


.text__left{
    flex-basis: 55%;
}

.text__left-title{
    font-size: 14rem;
    font-weight: bolder;
    color: var(--color-text);
    line-height: 15rem;

    padding-top: 10rem;
    letter-spacing: 0.5rem;

}



.text__right{
    width: 100%;
    flex-basis:30%;
    position: relative
}
.index__social-container{
    padding-top: 10rem;
    justify-content: left;
}

.text-right-title{
    font-size: 3.5rem;
    color: var(--color-text);
    font-weight: bold;

    padding-top: 15rem;
    padding-bottom: 5rem;
}

.text-right-subtitle{
    font-size: 2.5rem;
    color: var(--color-text-secondary);

    padding-top: 5rem;

}

a.item__left-link {
    display: block;
    width: auto;
    /* display: flex; */
    margin-top: 8rem;
    /* float: left; */
    margin: 0 auto;
    text-decoration: none;
}




/*POSICIONAR CORRECTAMENTE */

.footer img {
     filter: invert();;

}



.index{
      transition: opacity 0.6s ease;

}

.loader {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: monospace;
  font-size: 8rem;
padding-top: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0000;
  background: linear-gradient(90deg,var(--color-secondary) calc(50% + 0.5ch),var(--color-text-secondary) 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
          background-clip: text;
  animation: l7 750ms infinite steps(100);


}





.loader::after{
    content: "Made With ❤️";

    position: relative;
    top: 0;
    
    display: flex;
    flex-direction: column;

    color: var(--color-text-secondary);
    
    font-size: 1.75rem;
    padding-top: 1rem;
}



  .loader::before {
  content: "Loading...";
  
}

@keyframes l7 {
  to {
    background-position: left;
  }
}




/*MENU RESPONSIVE*/

.box__menu-responsive{
    width: 35vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--color-secondary);

    z-index: 9;

    transform: translateY(-100%);
    transform: translateY(-100%);

    
}

.social-container__item:hover{
    filter: invert(1);
}


.open-responsive{
    transform: translateY(0%);
    animation: izquierdaADerecha .5s;
}

.close-responsive{
    transform: translateY(-100%);
    animation: derechIzquierda .6s;    
}

.menu__box-responsive-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;

}

.menu__box-responsive-image-link:hover{

    transform: scale(1.1);

    transition: all 300ms ease-in-out;
}


img.menu__box-responsive-image-link
 {
    width: 8rem;
    filter: invert(1);
}

.menu__link-responsive{

    padding-left: 0rem;
    font-size: 4rem;

    transition: all 300ms ease;
}

.close-responsive{

    transition: all 300ms ease-in-out;

    animation: derechaIzquierda .6s;

}

@keyframes izquierdaADerecha {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
 
 
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes derechaIzquierda {
  0% {
    transform: translateX(0%);
    opacity: 1;
    
  }
 
 
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.selected-responsive::after {
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: 1.25rem; /* ajusta la distancia debajo del texto */
    left: 50%;

    content: "";
    transform: translateX(-50%);
    background-color: var( --color-text); /* cambia el color del punto */
  
    border-radius: 50%;
    transition: all 0.3s ease;

}


.selected-responsive:hover{

    color: var(--color-background-2);
    font-weight: 500;
}
.selected-responsive{

    color: var(--color-background-2);
    font-weight: 500;
}


.footer-social-container-responsive{
    padding-top: 3rem;
}

.selected-responsive.index{
    display: none;
}

.blur{

    all: unset;
   
    filter: blur(10px) grayscale(0.6);

    transition: all 300ms ease-in-out;
    pointer-events: none
    
}

#layer-blur{
    transition:  600ms ease-in-out;
}

.no-scroll {
    
    overflow: hidden  ; /* ← esto sí es válido */
}

.box__menu-close{
    width: inherit;
    height: auto;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: inherit;
    padding: 1rem;

    z-index: 999;

    transition: all 300ms;
}


.menu-close-img{
    width: 8rem;
    height: 8rem;
    


    transition: all 300ms ease-in-out;
}


.menu-close-img:hover {
    transform: scale(1.15);

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text, #000) !important;     /* color del texto */
  caret-color: var(--color-text, #000) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-background-1, #fff) inset !important; /* fondo */
  box-shadow: 0 0 0px 1000px var(--color-background-1, #fff) inset !important;         /* fallback */
  transition: background-color 5000s ease-in-out 0s !important; /* truco para "bloquear" el cambio */
}



